@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 67, 136, 131;
  --color-secondary: 0 100 255;
}

@layer base {
  * {
    font-family: 'Inter-Regular', system-ui, -apple-system, sans-serif;
  }
}
